# dependencies
node_modules/

# dotenv
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime
pids/
*.pid
*.seed
*.pid.lock

# coverage
coverage/
.nyc_output/

# build
dist/
build/

# cache
.cache/
.eslintcache

# OS files
.DS_Store
Thumbs.db

# editor folders
.vsco
